<a href="https://colab.research.google.com/github/nishant-harinkhede12/Python-Codes-and-NLP/blob/NLP/BernoulliNB_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
json = 'https://raw.githubusercontent.com/amankharwal/Website-data/master/Sarcasm.json'
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB

In [2]:

data = pd.read_json(json, lines=True)
print(data.head())

                                        article_link  ... is_sarcastic
0  https://www.huffingtonpost.com/entry/versace-b...  ...            0
1  https://www.huffingtonpost.com/entry/roseanne-...  ...            0
2  https://local.theonion.com/mom-starting-to-fea...  ...            1
3  https://politics.theonion.com/boehner-just-wan...  ...            1
4  https://www.huffingtonpost.com/entry/jk-rowlin...  ...            0

[5 rows x 3 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26709 entries, 0 to 26708
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   article_link  26709 non-null  object
 1   headline      26709 non-null  object
 2   is_sarcastic  26709 non-null  int64
dtypes: int64(1), object(2)
memory usage: 626.1+ KB

In [4]:
data['is_sarcastic'] = data['is_sarcastic'].map({0:"Not sarcastic",1:"Sarcastic"})

In [5]:
data.head()

                                        article_link  ...   is_sarcastic
0  https://www.huffingtonpost.com/entry/versace-b...  ...  Not sarcastic
1  https://www.huffingtonpost.com/entry/roseanne-...  ...  Not sarcastic
2  https://local.theonion.com/mom-starting-to-fea...  ...      Sarcastic
3  https://politics.theonion.com/boehner-just-wan...  ...      Sarcastic
4  https://www.huffingtonpost.com/entry/jk-rowlin...  ...  Not sarcastic

[5 rows x 3 columns]

In [7]:
data=data[['headline','is_sarcastic']]
data.head()

                                            headline   is_sarcastic
0  former versace store clerk sues over secret 'b...  Not sarcastic
1  the 'roseanne' revival catches up to our thorn...  Not sarcastic
2  mom starting to fear son's web series closest ...      Sarcastic
3  boehner just wants wife to listen, not come up...      Sarcastic
4  j.k. rowling wishes snape happy birthday in th...  Not sarcastic

In [8]:
x= np.array(data['headline'])
y = np.array(data['is_sarcastic'])

In [9]:
cv = CountVectorizer()
X = cv.fit_transform(x) # Fit the Data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [10]:
model = BernoulliNB()
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

0.8448146761512542

In [11]:
user = input("Enter a Text: ")
data = cv.transform([user]).toarray()
output = model.predict(data)
print(output)

Enter a Text: Cows lose their jobs as milk prices drop
['Sarcastic']