In [5]:
import pandas as pd
x = [100,200,500,700,900]
y = [225,425,725,925,1025,1125]

x1 = pd.Series(x)
y1 = pd.Series(y)

# print('covariance',x1.cov(y1))
print('Correlation',x1.corr(y1))

Correlation 0.9866764116670043

In [13]:
import pandas as pd
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

In [14]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [15]:
prices = [float(value[1: -1]) for value in chipo.item_price]
chipo.item_price = prices
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [21]:
chipo_filter = chipo.drop_duplicates(['item_price','quantity'])
print(len(chipo))
print(len(chipo_filter))

4622
80

In [33]:
chipo_1_prod = chipo_filter[chipo_filter['quantity'] == 1]
print(len(chipo_1_prod))

33

In [34]:
chipo_1_prod[chipo_1_prod['item_price']>10].item_name.nunique()

5

In [37]:
chipo['item_name'].value_counts

<bound method IndexOpsMixin.value_counts of 0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
                        ...
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4622, dtype: object>

In [44]:
chipo_filter_1 = chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] == 1)]
chipo_filter_1.head()

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49
42,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25

In [48]:
chipo.sort_values(by = 'item_name', ascending = False)

,order_id,quantity,item_name,choice_description,item_price
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
...,...,...,...,...,...
1916,774,1,6 Pack Soft Drink,[Diet Coke],6.49
1124,465,1,6 Pack Soft Drink,[Coke],6.49
3789,1517,1,6 Pack Soft Drink,[Diet Coke],6.49
1392,566,1,6 Pack Soft Drink,[Diet Coke],6.49
3614,1448,1,6 Pack Soft Drink,[Nestea],6.49

In [49]:
chipo_filter_Steak_Burrito = chipo[(chipo['item_name'] == 'Steak Burrito') & (chipo['quantity'] > 1)]
chipo_filter_Steak_Burrito

,order_id,quantity,item_name,choice_description,item_price
148,67,2,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Chees...",17.98
353,152,2,Steak Burrito,"[Fresh Tomato (Mild), [Lettuce, Guacamole, Ric...",22.16
534,223,2,Steak Burrito,"[Fresh Tomato Salsa, [Sour Cream, Lettuce, Che...",18.50
549,229,2,Steak Burrito,"[Fresh Tomato (Mild), [Lettuce, Guacamole, Ric...",22.16
638,264,2,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",18.50
1255,511,3,Steak Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",27.75
1262,513,2,Steak Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",17.98
1753,708,2,Steak Burrito,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",23.50
2380,947,2,Steak Burrito,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Chee...",17.98
2954,1175,2,Steak Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",22.96
3134,1250,2,Steak Burrito,"[Tomatillo Red Chili Salsa, [Cheese, Black Bea...",18.50
3603,1443,3,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",27.75
3616,1449,2,Steak Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",17.98
3861,1548,2,Steak Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",18.50
3970,1591,2,Steak Burrito,"[Fresh Tomato Salsa, [Lettuce, Sour Cream, Che...",18.50
4310,1719,2,Steak Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",18.50