In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from scipy import stats
sns.set(color_codes = True)

In [15]:
price = 'https://raw.githubusercontent.com/akjadon/Data/master/python/Weed_Price.csv'
weed_pd = pd.read_csv(price, parse_dates = [-1])
weed_pd.head()

        State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
0     Alabama  339.06    1042  198.64    933  149.49    123 2014-01-01
1      Alaska  288.75     252  260.60    297  388.58     26 2014-01-01
2     Arizona  303.31    1941  209.35   1625  189.45    222 2014-01-01
3    Arkansas  361.85     576  185.62    544  125.87    112 2014-01-01
4  California  248.78   12096  193.56  12812  192.92    778 2014-01-01

In [18]:
weed_pd['Month'] = weed_pd.date.apply(lambda x: x.month)
weed_pd['Year'] = weed_pd.date.apply(lambda x: x.year)

In [19]:
weed_pd.head()

,State,HighQ,HighQN,MedQ,MedQN,LowQ,LowQN,date,Month,Year
0,Alabama,339.06,1042,198.64,933,149.49,123,2014-01-01,1,2014
1,Alaska,288.75,252,260.60,297,388.58,26,2014-01-01,1,2014
2,Arizona,303.31,1941,209.35,1625,189.45,222,2014-01-01,1,2014
3,Arkansas,361.85,576,185.62,544,125.87,112,2014-01-01,1,2014
4,California,248.78,12096,193.56,12812,192.92,778,2014-01-01,1,2014

In [39]:
# weed_ca_2014 = weed_pd[(weed_pd['State'] == 'California') & (weed_pd['Year'] == '2014')]
weed_ca_2014 = np.array(weed_pd[(weed_pd['State'] == 'California') & (weed_pd['Year'] == '2014')])

In [40]:
print("'mean'", weed_ca_2014['HighQ'].mean())
print("'Std Dev'", weed_ca_2014.HighQ.std())
# weed_ca_2014.info()
# weed_ca_2014.isnull().sum()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [34]:
stats.norm.interval(0.95, loc = weed_ca_2014['HighQ'].mean(), scale = weed_ca_2014.HighQ.std()/np.sqrt(len(weed_ca_2014)))

(nan, nan)