<a href="https://colab.research.google.com/github/nishant-harinkhede12/Python-Codes/blob/NLP/NLP_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import nltk

Tokenization: Break complex sentence into words

In [2]:
paragraph = """I have three visions for India. In 3000 years of our history, people from all over 
               the world have come and invaded us, captured our lands, conquered our minds. 
               From Alexander onwards, the Greeks, the Turks, the Moguls, the Portuguese, the British,
               the French, the Dutch, all of them came and looted us, took over what was ours. 
               Yet we have not done this to any other nation. We have not conquered anyone. 
               We have not grabbed their land, their culture, 
               their history and tried to enforce our way of life on them. 
               Why? Because we respect the freedom of others.That is why my 
               first vision is that of freedom. I believe that India got its first vision of 
               this in 1857, when we started the War of Independence. It is this freedom that
               we must protect and nurture and build on. If we are not free, no one will respect us.
               My second vision for India’s development. For fifty years we have been a developing nation.
               It is time we see ourselves as a developed nation. We are among the top 5 nations of the world
               in terms of GDP. We have a 10 percent growth rate in most areas. Our poverty levels are falling.
               Our achievements are being globally recognised today. Yet we lack the self-confidence to
               see ourselves as a developed nation, self-reliant and self-assured. Isn’t this incorrect?
               I have a third vision. India must stand up to the world. Because I believe that unless India 
               stands up to the world, no one will respect us. Only strength respects strength. We must be 
               strong not only as a military power but also as an economic power. Both must go hand-in-hand. 
               My good fortune was to have worked with three great minds. Dr. Vikram Sarabhai of the Dept. of 
               space, Professor Satish Dhawan, who succeeded him and Dr. Brahm Prakash, father of nuclear material.
               I was lucky to have worked with all three of them closely and consider this the great opportunity of my life. 
               I see four milestones in my career"""

tokanize sentence

In [4]:
nltk.download('punkt')
sentence = nltk.sent_tokenize(paragraph)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

to understand how sent_tokanize is breaking the paragraph.

In [13]:
import pandas as pd
s = pd.DataFrame(sentence)
s.head()

                                                   0
0                    I have three visions for India.
1  In 3000 years of our history, people from all ...
2  From Alexander onwards, the Greeks, the Turks,...
3     Yet we have not done this to any other nation.
4                      We have not conquered anyone.

tokanize words

In [14]:
words = nltk.word_tokenize(paragraph)

In [17]:
w = pd.DataFrame(words)
w.head(10)

         0
0        I
1     have
2    three
3  visions
4      for
5    India
6        .
7       In
8     3000
9    years

STEMMING: Normalize words into its base form or root form.

In [20]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [22]:
for i in range(len(sentence)):
    words = nltk.word_tokenize(sentence[i])
    words = [stemmer.stem(word) for word in words if word not in set(stopwords.words('english'))]
    sentence[i] = ' '.join(words)

In [37]:
w = pd.DataFrame(words)
w.tail()

          0
0         I
1       see
2      four
3  mileston
4    career

LEMMATIZATION: Groups togeteher different inflected form of words
EX: Go, went, gone, going ==> Lemmetizer ==> go

In [28]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [29]:
for i in range(len(sentence)):
    words = nltk.word_tokenize(sentence[i])
    words = [lemmatizer.lemmatize(word) for word in words if word not in set(stopwords.words('english'))]
    sentence[i] = ' '.join(words)

In [35]:
w = pd.DataFrame(words)
w.tail(5)

          0
0         I
1       see
2      four
3  mileston
4    career

Bag of words

In [38]:
import re # re libray will use for regular expression

ps = PorterStemmer()
wordnet=WordNetLemmatizer()
sentences = nltk.sent_tokenize(paragraph)
corpus = []

In [39]:
for i in range(len(sentences)):
    review = re.sub('[^a-zA-Z]', ' ', sentences[i])
    review = review.lower()
    review = review.split()
#    review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
    review = [wordnet.lemmatize(word) for word in review if not word in set(stopwords.words('english'))]   
    review = ' '.join(review)
    corpus.append(review)

In [45]:
# Also we called as document matrix 
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X = cv.fit_transform(corpus).toarray()

In [47]:
# r = pd.DataFrame(eval(corpus))
r = pd.DataFrame(corpus)
r.head()
# data = []
# for row in r:
#     data.append({'value': row["tag_expression"], 'key': row["tag_name"]})

                                                   0
0                                 three vision india
1  year history people world come invaded u captu...
2  alexander onwards greek turk mogul portuguese ...
3                                    yet done nation
4                                   conquered anyone

TF-IDF model

In [48]:
# Creating the TF-IDF model
from sklearn.feature_extraction.text import TfidfVectorizer
cv = TfidfVectorizer()
X = cv.fit_transform(corpus).toarray()

 Preprocessing the data

In [49]:
# Preprocessing the data
text = re.sub(r'\[[0-9]*\]',' ',paragraph)
text = re.sub(r'\s+',' ',text)
text = text.lower()
text = re.sub(r'\d',' ',text)
text = re.sub(r'\s+',' ',text)

Preparing the dataset

In [50]:
# Preparing the dataset
sentences = nltk.sent_tokenize(text)

sentences = [nltk.word_tokenize(sentence) for sentence in sentences]

for i in range(len(sentences)):
    sentences[i] = [word for word in sentences[i] if word not in stopwords.words('english')]

Training the Word2Vec model

In [52]:
# Training the Word2Vec model
from gensim.models import Word2Vec
model = Word2Vec(sentences, min_count=1)
#if the word is present < then 1 then use to skip the  conunt and as my data is very small 
#word2vec is applied for huge amount of data

In [53]:
words = model.wv.vocab
# in this paragrap if we want to find the vocalbulary & create a object called words
# if you select then each & every word there may be vectors and dimensions associated to it
#

In [54]:
# Finding Word Vectors
vector = model.wv['war']
#if i want to find the vector of war word and if i want to find the relationship

In [56]:
v = pd.DataFrame(vector)
v.head()

          0
0 -0.000106
1 -0.004924
2 -0.004232
3 -0.003580
4 -0.000617

In [57]:
# Most similar words
similar = model.wv.most_similar('war')
#if i try to find most similar word related to the war

In [59]:
s = pd.DataFrame(similar)
s.head()

            0         1
0  milestones  0.188957
1        lack  0.187141
2  portuguese  0.169653
3       three  0.162638
4      greeks  0.159556

In [60]:

similar = model.wv.most_similar('freedom')

In [61]:
s = pd.DataFrame(similar)
s.head()

          0         1
0    unless  0.306482
1  economic  0.279062
2   believe  0.203750
3      must  0.187828
4   prakash  0.184599

In [62]:
similar = model.wv.most_similar('vikram')
s = pd.DataFrame(similar)
s.head()

              0         1
0       culture  0.175980
1  independence  0.168860
2       percent  0.162323
3         three  0.159596
4          done  0.154539