<a href="https://colab.research.google.com/github/nishant-harinkhede12/Python-Codes-and-NLP/blob/NLP/PreProcessing_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
gold = """Gold is a chemical element with symbol Au (from Latin: aurum) and atomic number 79, making it one of the higher atomic number elements that occur naturally. In its purest form, it is a bright, slightly reddish yellow, dense, soft, malleable, and ductile metal. Chemically, gold is a transition metal and a group 11 element. It is one of the least reactive chemical elements and is solid under standard conditions. Gold often occurs in free elemental (native) form, as nuggets or grains, in rocks, in veins, and in alluvial deposits. It occurs in a solid solution series with the native element silver (as electrum) and also naturally alloyed with copper and palladium. Less commonly, it occurs in minerals as gold compounds, often with tellurium (gold tellurides).

Gold is resistant to most acids, though it does dissolve in aqua regia, a mixture of nitric acid and hydrochloric acid, which forms a soluble tetrachloroaurate anion. Gold is insoluble in nitric acid, which dissolves silver and base metals, a property that has long been used to refine gold and to confirm the presence of gold in metallic objects, giving rise to the term acid test. Gold also dissolves in alkaline solutions of cyanide, which are used in mining and electroplating. Gold dissolves in mercury, forming amalgam alloys, but this is not a chemical reaction.

A relatively rare element,[5][6] gold is a precious metal that has been used for coinage, jewelry, and other arts throughout recorded history. In the past, a gold standard was often implemented as a monetary policy, but gold coins ceased to be minted as a circulating currency in the 1930s, and the world gold standard was abandoned for a fiat currency system after 1971.

A total of 186,700 tonnes of gold exists above ground, as of 2015.[7] The world consumption of new gold produced is about 50% in jewelry, 40% in investments, and 10% in industry.[8] Gold's high malleability, ductility, resistance to corrosion and most other chemical reactions, and conductivity of electricity have led to its continued use in corrosion resistant electrical connectors in all types of computerized devices (its chief industrial use). Gold is also used in infrared shielding, colored-glass production, gold leafing, and tooth restoration. Certain gold salts are still used as anti-inflammatories in medicine. As of 2016, the world's largest gold producer by far was China with 450 tonnes per year"""

Below step will help in senstence tokanization

In [20]:
import nltk
nltk.download('punkt')
sentence = nltk.sent_tokenize(gold)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [21]:
import pandas as pd
s = pd.DataFrame(sentence)
s.head()

                                                   0
0  Gold is a chemical element with symbol Au (fro...
1  In its purest form, it is a bright, slightly r...
2  Chemically, gold is a transition metal and a g...
3  It is one of the least reactive chemical eleme...
4  Gold often occurs in free elemental (native) f...

Below step will help in word tokanization

In [22]:
words = nltk.word_tokenize(gold)

In [23]:
w = pd.DataFrame(words)
w.head()

          0
0      Gold
1        is
2         a
3  chemical
4   element

In this step all the important libraries for lemmatization and stop words are imported

In [24]:
nltk.download('wordnet')
from nltk.stem import wordnet
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [25]:
import re # re libray will use for regular expression

# ps = PorterStemmer()
wordnet=WordNetLemmatizer()
sentences = nltk.sent_tokenize(gold)
nltk.download('stopwords')
from nltk.corpus import stopwords
corpus = []

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [26]:
for i in range(len(sentences)):
    review = re.sub('[^a-zA-Z]', ' ', sentences[i])
    review = review.lower()
    review = review.split()
#    review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
    review = [wordnet.lemmatize(word) for word in review if not word in set(stopwords.words('english'))]   
    review = ' '.join(review)
    corpus.append(review)

In Below step Name entity recognization is performed

In [27]:
nltk.download('maxent_ne_chunker')
nltk.download('words')
from nltk import ne_chunk
corpus = ne_chunk(corpus)

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Package words is already up-to-date!

In [28]:
c = pd.DataFrame(corpus)
c.head()

                                                   0
0  gold chemical element symbol au latin aurum at...
1  purest form bright slightly reddish yellow den...
2     chemically gold transition metal group element
3  one least reactive chemical element solid stan...
4  gold often occurs free elemental native form n...

To create Bag of words

In [29]:
# Creating the Bag of Words model
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X = cv.fit_transform(corpus).toarray()

In [30]:
x = pd.DataFrame(X)
x.head()

   0    1    2    3    4    5    6    ...  154  155  156  157  158  159  160
0    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
1    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    1
2    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
3    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
4    0    0    0    0    0    1    0  ...    0    0    0    1    0    0    0

[5 rows x 161 columns]