<a href="https://colab.research.google.com/github/nishant-harinkhede12/Python-Codes/blob/NLP/Restaurant_review_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
url = 'https://raw.githubusercontent.com/nishant-harinkhede12/Python-Codes/NLP/Restaurant_Reviews.tsv'

import pandas as pd
import numpy as np

dataset = pd.read_csv(url, delimiter = '\t', quoting = 3)
dataset.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [4]:
l = len(dataset)
print(l)

1000

In [5]:
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
corpus = []

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [6]:
# for i in range(len(dataset)):
for i in range(0, 1000):
    review = re.sub('[^a-zA-Z]', ' ', dataset['Review'][i])
    review = review.lower()
    review = review.split()
    ps = PorterStemmer()
    review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
    review = ' '.join(review)
    corpus.append(review)

In [9]:
c = pd.DataFrame(corpus)
c.head()

                                                   0
0                                     wow love place
1                                         crust good
2                                 tasti textur nasti
3  stop late may bank holiday rick steve recommen...
4                            select menu great price

In [10]:
# Creating the Bag of Words model
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X = cv.fit_transform(corpus).toarray()
y = dataset.iloc[:, 1].values

In [14]:
x = pd.DataFrame(X)
x.head()

   0     1     2     3     4     5     ...  1559  1560  1561  1562  1563  1564
0     0     0     0     0     0     0  ...     0     0     0     0     0     0
1     0     0     0     0     0     0  ...     0     0     0     0     0     0
2     0     0     0     0     0     0  ...     0     0     0     0     0     0
3     0     0     0     0     0     0  ...     0     0     0     0     0     0
4     0     0     0     0     0     0  ...     0     0     0     0     0     0

[5 rows x 1565 columns]

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

In [24]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

y_pred = classifier.predict(X_test)

In [25]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)


from sklearn.metrics import accuracy_score
ac = accuracy_score(y_test, y_pred)
print(ac)

[[55 42]
 [12 91]]
0.73

Principal Component Analysis

In [18]:
from sklearn.decomposition import PCA
pca = PCA(n_components=None)

x_pca = pca.fit_transform(X)
# dfx_trans = pca.transform(dfx)
x_trans = pd.DataFrame(data=x_pca)

In [19]:
x_trans.head()

        0         1         2    ...           997           998           999
0 -0.381620  0.799519 -0.089284  ... -1.210468e-18 -1.080451e-20  5.169207e-19
1  0.246968 -0.048692  0.789476  ... -1.210468e-18 -1.080451e-20  5.169207e-19
2 -0.111192 -0.149870  0.037962  ... -1.210468e-18 -1.080451e-20  5.169207e-19
3 -0.209049 -0.032854 -0.032071  ... -1.210468e-18 -1.080451e-20  5.169207e-19
4  0.109549 -0.145273 -0.365547  ... -1.210468e-18 -1.080451e-20  5.169207e-19

[5 rows x 1000 columns]

we will check the accuracy of model post PCA

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_trans, y, test_size = 0.20, random_state = 0)

In [27]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

y_pred = classifier.predict(X_test)

In [28]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)


from sklearn.metrics import accuracy_score
ac = accuracy_score(y_test, y_pred)
print(ac)

[[51 46]
 [36 67]]
0.59