In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

url = 'https://raw.githubusercontent.com/akjadon/HH/master/class_demo/w0.0/Supermarket.csv'

super = pd.read_csv(url)
super.head()

       ProductCode              Date  Amount  Received Cash CashierName
0  LBVT18010004435  01-05-2018 12:36  1121.2         1121.2       MAYTE
1  LBVT18010004436  01-05-2018 12:37    18.5           20.0       MAYTE
2  LBVT18010004437  01-05-2018 12:38   160.0          200.0       MAYTE
3  LBVT18010004438  01-05-2018 12:47   397.5          397.5       MAYTE
4  LBVT18010004439  01-05-2018 12:48    22.0           50.0       MAYTE

In [5]:
print("Mode of Amount",round(super['Amount'].mode(),2))

Mode of Amount 0    50.0
dtype: float64

In [8]:
print("Mean of Amount",round(super['Amount'].mean(),2))

Mean of Amount 189.78

In [10]:
print("Range of Amount",np.ptp(super['Amount']))

Range of Amount 15036.8

In [14]:
print("Range of Received Cash",round(np.ptp(super['Received Cash'],axis=0),2))

Range of Received Cash 7500000000000.0